# 데이터프레임(DataFrame)만들기 - from dict type
판다스에서는 **dictionary 타임 데이터** 또는 **순서가 보장되어 있는 OrderedDict 타입 데이터**를 DataFrame 클래스의 인자로 넘겨주면 데이터프레임(DataFrame)을 직접 만들 수 있음

In [1]:
import pandas as pd
# dictionary key 값이 데이터프레임 column 이름이며, value 값이 데이터프레임의 실제 column 데이터임

persons_dict = {'Name' : ['John', 'Sabre', 'Kim', 'Sato'],
                'Country' : ['USA', 'France', 'Korea', 'Japan'],
                'Age' : [31, 33, 28, 40],
                'Job' : ['Student', 'Lawyer', 'Developer', 'Chef']}

In [2]:
# 데이터프레임을 만들때. 어떤 옵션도 주지 않으면 column순서가 random하게 생성됨
df1 = pd.DataFrame(persons_dict)

df1
# 왜 random이 아니지...?

    Name Country  Age        Job
0   John     USA   31    Student
1  Sabre  France   33     Lawyer
2    Kim   Korea   28  Developer
3   Sato   Japan   40       Chef

In [3]:
# column 옵션을 주어 column순서를 지정하면 원하는 순서를 갖는 데이터프레임을 만들 수 있음
df2 = pd.DataFrame(data = persons_dict, columns = ['Name', 'Country', 'Job', 'Age'])
df2

    Name Country        Job  Age
0   John     USA    Student   31
1  Sabre  France     Lawyer   33
2    Kim   Korea  Developer   28
3   Sato   Japan       Chef   40

# 데이터프레임(DataFrame)만들기 - from OrderedDict type

In [4]:
# 데이터 생성 순서가 보장되는 OrderedDict key 값이 데이터 프레임 column이름이며, value 값이 데이터프레임의 실제 column 데이터임
from collections import OrderedDict

ordered_person_dict = OrderedDict([('Name', ['John', 'Sabre', 'Kim', 'Sato']),
                                      ('Country', ['USA', 'France', 'Korea', 'Japan']),
                                      ('Age', [31, 33, 28, 40]),
                                      ('Job', ['Student', 'Lawyer', 'Developer', 'Chef'])])

In [8]:
df1 = pd.DataFrame(ordered_person_dict)

df1

    Name Country  Age        Job
0   John     USA   31    Student
1  Sabre  France   33     Lawyer
2    Kim   Korea   28  Developer
3   Sato   Japan   40       Chef

In [11]:
# column 옵션을 주지 않아도 데이터 프레임의 열(column) 데이터가 OrderdDict을 만들 때 주어진
# Name, Country, Age, Job으로 생성된 것을 알 수 있음

df2 = pd.DataFrame(ordered_person_dict, index=['one', 'two', 'three', 'four'])
df2

        Name Country  Age        Job
one     John     USA   31    Student
two    Sabre  France   33     Lawyer
three    Kim   Korea   28  Developer
four    Sato   Japan   40       Chef